@font-face {
  font-family: SF;
  src: url("../fonts/SFUI/SF-UI-Display-Regular.otf") format("opentype");
}
@font-face {
  font-family: SF;
  font-weight: bold;
  src: url("../fonts/SFUI/SF-UI-Display-Bold.otf") format("opentype");
}
/* html elements */
/* line 20, ../sass/styles.scss */
body {
  background: linear-gradient(90deg, #000 26px, transparent 1%) center, linear-gradient(#000 26px, transparent 1%) center, #222;
  background-size: 28px 28px;
  font-family: sans-serif;
  color: #fff;
  background-attachment: fixed;
  font-family: SF, Arial, sans-serif;
  margin: 0px;
}

/* line 30, ../sass/styles.scss */
ul {
  padding: 0;
}
/* line 32, ../sass/styles.scss */
ul li {
  padding: 0;
  list-style: none;
}

/*row system*/
/* line 38, ../sass/styles.scss */
.inside {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px;
}

/* line 43, ../sass/styles.scss */
.mobile {
  display: none;
}

/*molecules*/
/*main nav*/
/* line 46, ../sass/styles.scss */
#main-nav {
  position: fixed;
  height: auto;
  background: #000;
  overflow-y: hidden;
  max-height: 0px;
  /* approximate max height */
  transition-property: all;
  transition-duration: .2s;
  min-height: 0px;
  width: 100%;
  transition-timing-function: linear;
}
/* line 57, ../sass/styles.scss */
#main-nav .inside {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
/* line 66, ../sass/styles.scss */
#main-nav .inside .desktop-all {
  display: inline-block;
  width: 55%;
}
/* line 71, ../sass/styles.scss */
#main-nav .event.desktop {
  display: inline-block;
  margin-top: 10px;
}
/* line 75, ../sass/styles.scss */
#main-nav .stats {
  text-align: right;
}
/* line 77, ../sass/styles.scss */
#main-nav .stats ul {
  padding: 0;
  display: inline-block;
  padding-right: 20px;
}
/* line 81, ../sass/styles.scss */
#main-nav .stats ul li {
  padding: 0;
  display: inline-block;
  margin: 0 15px;
}
/* line 88, ../sass/styles.scss */
#main-nav .event,
#main-nav .stats {
  flex: 1;
}
@media screen and (max-width: 1440px) {
  /* line 88, ../sass/styles.scss */
  #main-nav .event,
  #main-nav .stats {
    flex: unset;
  }
}
/* line 95, ../sass/styles.scss */
#main-nav h1 {
  font-size: 0px;
  display: inline-block;
  float: right;
}
/* line 99, ../sass/styles.scss */
#main-nav h1 img {
  max-width: 141px;
}
/* line 103, ../sass/styles.scss */
#main-nav.sticky {
  position: fixed;
  min-height: 70px;
  max-height: 71px;
  width: 100%;
  z-index: 9000;
  padding-top: 30px;
}

/* end main nav */
/* main elements:
*  header
*  */
/* line 117, ../sass/styles.scss */
header {
  min-height: 645px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* line 123, ../sass/styles.scss */
header .wrapper {
  text-align: center;
}
/* line 125, ../sass/styles.scss */
header .wrapper p {
  text-transform: uppercase;
  margin: 5px;
}
/* line 130, ../sass/styles.scss */
header .wrapper .ctas {
  margin-top: 60px;
}
/* line 133, ../sass/styles.scss */
header .wrapper .ctas a {
  margin: 0px 5px;
}
/* line 137, ../sass/styles.scss */
header .hero-logo span {
  display: block;
  text-align: right;
  max-width: 400px;
  font-size: 43px;
  text-transform: uppercase;
  font-weight: bold;
}
/* line 146, ../sass/styles.scss */
header h2 {
  font-size: 48px;
  max-width: 526px;
  margin: 50px auto 10px auto;
}

/* line 155, ../sass/styles.scss */
.main article.solid-bg {
  background: #000;
}
/* line 158, ../sass/styles.scss */
.main article h3 {
  font-size: 48px;
  text-align: center;
}
/* line 161, ../sass/styles.scss */
.main article h3:after {
  content: " ";
  display: block;
  width: 100px;
  height: 4px;
  background: #4F52FF;
  margin: 0 auto;
}
/* line 171, ../sass/styles.scss */
.main .intro {
  border-top: 1px solid #333333;
  border-bottom: 1px solid #333333;
}
/* line 174, ../sass/styles.scss */
.main .intro .inside {
  max-width: 1100px;
}
/* line 177, ../sass/styles.scss */
.main .intro p {
  padding: 75px 10px;
  font-size: 32px;
  line-height: 46px;
  font-weight: bold;
  text-align: center;
}
/* line 186, ../sass/styles.scss */
.main .speakers .inside {
  padding: 110px 10px;
  max-width: 872px;
  padding: 114px 10px;
  position: relative;
  z-index: 2;
}
/* line 193, ../sass/styles.scss */
.main .speakers .switch {
  display: block;
  margin: 0 auto;
}
/* line 198, ../sass/styles.scss */
.main .speakers .speaker {
  margin-top: 65px;
  position: relative;
}
/* line 201, ../sass/styles.scss */
.main .speakers .speaker img {
  display: inline-block;
  z-index: 10;
  border-radius: 50%;
  max-width: 64px;
  position: relative;
}
/* line 208, ../sass/styles.scss */
.main .speakers .speaker .speaker-info {
  display: inline-block;
  vertical-align: super;
}
/* line 212, ../sass/styles.scss */
.main .speakers .speaker p {
  margin: 0 25px;
  color: #4F52FF;
  position: relative;
  z-index: 10;
  min-width: 200px;
}
/* line 219, ../sass/styles.scss */
.main .speakers .speaker .name {
  font-size: 25px;
  color: #fff;
  margin: 0px 25px;
}
/* line 224, ../sass/styles.scss */
.main .speakers .speaker:nth-child(even) {
  direction: rtl;
  margin-right: 100px;
}
/* line 227, ../sass/styles.scss */
.main .speakers .speaker:nth-child(even) p {
  text-align: right;
}
/* line 230, ../sass/styles.scss */
.main .speakers .speaker:nth-child(even):before {
  right: -20%;
}
/* line 234, ../sass/styles.scss */
.main .speakers .speaker:nth-child(odd) {
  margin-left: 100px;
}
/* line 240, ../sass/styles.scss */
.main .speakers .speaker:before {
  background: linear-gradient(90deg, #000 26px, transparent 1%) center, linear-gradient(#000 26px, transparent 1%) center, #222;
  background-size: 28px 28px;
  display: block;
  width: 332px;
  height: 300px;
  top: -100%;
  left: -20%;
  position: absolute;
  content: " ";
  z-index: -1;
}
/* line 252, ../sass/styles.scss */
.main .speakers .speaker:last-child {
  margin-bottom: 50px;
}
/* line 258, ../sass/styles.scss */
.main .sponsors .inside {
  padding: 100px 10px;
}
/* line 261, ../sass/styles.scss */
.main .sponsors .sponsors-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 897px;
  margin: 0 auto;
}
/* line 267, ../sass/styles.scss */
.main .sponsors .sponsors-wrapper img {
  margin: 20px 10px;
}
/* line 272, ../sass/styles.scss */
.main .venue {
  border-top: 1px solid #333333;
}
/* line 274, ../sass/styles.scss */
.main .venue h4 {
  font-size: 32px;
  margin: 0;
}
/* line 278, ../sass/styles.scss */
.main .venue p {
  font-size: 16px;
}
/* line 281, ../sass/styles.scss */
.main .venue .location-icon {
  display: inline-block;
  background-image: url("../img/icons.svg");
  background-size: 359%;
  background-position: 1px 0px;
  background-repeat: no-repeat;
  height: 19px;
  width: 20px;
  /* background-color: red; */
  vertical-align: bottom;
  margin-right: 5px;
}
/* line 293, ../sass/styles.scss */
.main .venue a {
  text-transform: uppercase;
  color: #F8E71C;
  font-size: 12px;
  margin-bottom: 100px;
}
/* line 299, ../sass/styles.scss */
.main .venue h4,
.main .venue p,
.main .venue a {
  width: 60%;
  float: right;
  clear: both;
}
/* line 306, ../sass/styles.scss */
.main .venue .inside {
  font-size: 0;
}
/* line 309, ../sass/styles.scss */
.main .venue .left {
  display: inline-block;
  max-width: 50%;
  vertical-align: top;
  margin-top: 80px;
}
/* line 314, ../sass/styles.scss */
.main .venue .left img {
  width: 100%;
}
/* line 318, ../sass/styles.scss */
.main .venue .right {
  vertical-align: middle;
  display: inline-block;
  max-width: 50%;
  margin-top: 80px;
}
/* line 325, ../sass/styles.scss */
.main .cta {
  text-align: center;
  border-top: 1px solid #333333;
}
/* line 328, ../sass/styles.scss */
.main .cta .inside {
  vertical-align: text-bottom;
  padding: 200px 0px;
}
/* line 332, ../sass/styles.scss */
.main .cta h4 {
  font-size: 44px;
  display: inline-block;
  margin: 0;
}
/* line 337, ../sass/styles.scss */
.main .cta a {
  margin: 0px 5px;
}
/* line 340, ../sass/styles.scss */
.main .cta .ctas {
  margin-top: 40px;
}

/* main elements:
*  footer
*  */
/* line 348, ../sass/styles.scss */
footer {
  min-height: 50px;
  background: #000000;
  border-top: 1px solid #333333;
  text-align: center;
  padding-top: 30px;
  font-size: 14px;
  position: relative;
}
/* line 356, ../sass/styles.scss */
footer img {
  max-width: 96px;
  filter: grayscale(1);
}
/* line 360, ../sass/styles.scss */
footer .footer-logo {
  float: left;
}
/* line 363, ../sass/styles.scss */
footer p {
  display: inline-block;
}
/* line 367, ../sass/styles.scss */
footer .social-icons {
  float: right;
}
/* line 369, ../sass/styles.scss */
footer .social-icons .tw-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url("../img/social-icons.svg") repeat-x;
  margin-right: 10px;
}
/* line 376, ../sass/styles.scss */
footer .social-icons .fb-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url("../img/social-icons.svg") repeat-x;
  background-position: 19px 0px;
}

/* atoms */
/* line 388, ../sass/styles.scss */
.btn {
  background: #4F52FF;
  border-radius: 6.33px;
  font-size: 14px;
  color: #FFFFFF;
  text-align: center;
  line-height: 24px;
  padding: 0px 20px;
  line-height: 48px;
  text-transform: uppercase;
  display: inline-block;
}
/* line 399, ../sass/styles.scss */
.btn.large {
  width: 240px;
}
/* line 402, ../sass/styles.scss */
.btn.light {
  background: #fff;
  color: #000;
}

/* line 407, ../sass/styles.scss */
.event-details {
  font-size: 16px;
  text-transform: uppercase;
}
/* line 410, ../sass/styles.scss */
.event-details span {
  border-bottom: 3px solid #F8E71C;
  padding-left: 0px;
  padding-bottom: 1px;
}
/* line 415, ../sass/styles.scss */
.event-details .calendar-icon {
  display: inline-block;
  background-image: url("../img/icons.svg");
  background-size: 262%;
  background-position: -20px 0px;
  background-repeat: no-repeat;
  height: 19px;
  width: 30px;
  /* background-color: red; */
  vertical-align: bottom;
}

/* line 428, ../sass/styles.scss */
a {
  text-decoration: none;
  color: #fff;
}

/* parallax */
/* line 436, ../sass/styles.scss */
.parallax-wrapper {
  overflow: hidden;
}

/* line 447, ../sass/styles.scss */
.parallax-group {
  transition: transform 0.5s;
  position: relative;
}

/* line 462, ../sass/styles.scss */
.parallax-layer .wrapper {
  max-width: 1440px;
  margin: auto;
}

/* line 474, ../sass/styles.scss */
.parallax-layer.middle {
  pointer-events: none;
}

/* line 478, ../sass/styles.scss */
.parallax-layer.fore {
  pointer-events: none;
}

/* line 484, ../sass/styles.scss */
.first-pill .element {
  /* Rectangle Copy: */
  transform: rotate(-38deg);
  background-image: linear-gradient(-134deg, #3023AE 0%, #C86DD7 100%);
  border-radius: 100px;
  width: 24px;
  height: 103px;
  position: absolute;
  top: 530px;
  right: -25%;
}

/* line 497, ../sass/styles.scss */
.second-pill .element {
  transform: rotate(-38deg);
  background-image: linear-gradient(-180deg, #D09E6E 8%, #F9D76A 44%, #86B67A 84%);
  border-radius: 100px;
  width: 118px;
  height: 519px;
  top: 192px;
  left: 9%;
  position: absolute;
}

/* line 509, ../sass/styles.scss */
.third-pill .element {
  /* Rectangle: */
  transform: rotate(-38deg);
  background-image: linear-gradient(-180deg, #5E98BE 0%, #A04774 100%);
  border-radius: 100px;
  width: 123px;
  height: 448px;
  position: absolute;
  top: 2050px;
  right: -35%;
}

/* line 522, ../sass/styles.scss */
.fourth-pill {
  /* Rectangle Copy: */
}
/* line 525, ../sass/styles.scss */
.fourth-pill .element {
  z-index: 9999;
  transform: rotate(-38deg);
  background-image: linear-gradient(-134deg, #3023AE 0%, #C86DD7 100%);
  border-radius: 100px;
  position: absolute;
  left: auto;
  right: -33%;
  width: 32px;
  height: 545px;
  top: 1310px;
}

/* line 540, ../sass/styles.scss */
.fifth-pill .element {
  z-index: 9999;
  transform: rotate(-38deg) scale(2);
  background-image: linear-gradient(-134deg, #3023AE 0%, #C86DD7 100%);
  border-radius: 100px;
  position: absolute;
  width: 21px;
  height: 89px;
  left: -15%;
  top: 900px;
}

/* line 553, ../sass/styles.scss */
.last-pill .element {
  z-index: 9999;
  transform: rotate(-38deg);
  background-image: linear-gradient(0deg, #7DA1CF 2%, #DD539E 48%, #EC9A51 99%);
  border-radius: 100px;
  position: absolute;
  width: 121px;
  height: 444px;
  transform-origin: -318px 0px;
  left: 0%;
  bottom: -1780px;
}

/* line 568, ../sass/styles.scss */
.header {
  position: relative;
}

/* line 572, ../sass/styles.scss */
.switch {
  position: relative;
  display: inline-block;
  width: 140px;
  height: 23px;
  /*labels*/
}
/* line 577, ../sass/styles.scss */
.switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  border: 1px solid #333;
  bottom: 0;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}
/* line 588, ../sass/styles.scss */
.switch .slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 67px;
  left: 2px;
  bottom: 3px;
  background-color: #4F52FF;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 36px;
}
/* line 601, ../sass/styles.scss */
.switch input {
  display: none;
}
/* line 602, ../sass/styles.scss */
.switch input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
/* line 605, ../sass/styles.scss */
.switch input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(68px);
}
/* line 611, ../sass/styles.scss */
.switch:before {
  content: attr(data-off);
  display: inline-block;
  height: 20px;
  position: absolute;
  left: 21px;
  top: 5px;
  font-size: 11px;
  z-index: 8;
  opacity: .6;
  font-weight: bold;
}
/* line 623, ../sass/styles.scss */
.switch:after {
  content: attr(data-on);
  display: inline-block;
  height: 20px;
  position: absolute;
  right: 21px;
  top: 5px;
  font-size: 11px;
  z-index: 8;
  opacity: .6;
  font-weight: bold;
}

/* line 637, ../sass/styles.scss */
.hide {
  display: none;
}

@media screen and (max-width: 1140px) {
  /* line 644, ../sass/styles.scss */
  #main-nav .stats ul li {
    margin: 0 6px;
  }
}
@media screen and (max-width: 992px) {
  /* line 652, ../sass/styles.scss */
  .mobile {
    display: block;
  }

  /* line 655, ../sass/styles.scss */
  .desktop {
    display: none;
  }

  /* line 658, ../sass/styles.scss */
  #main-nav .inside {
    padding: 0px;
  }

  /* line 662, ../sass/styles.scss */
  #main-nav .btn {
    margin-top: 20px;
  }

  /* line 666, ../sass/styles.scss */
  #main-nav .inside .desktop-all {
    margin-bottom: 20px;
    width: 93%;
    padding: 0 15px;
  }

  /* nav */
  /* line 672, ../sass/styles.scss */
  i.hamburguer-icon {
    background-image: url(../img/icons.svg);
    background-size: 320%;
    background-position: 41px -3px;
    background-repeat: repeat-x;
    width: 39px;
    height: 35px;
    float: right;
    text-align: right;
    vertical-align: -webkit-baseline-middle;
    display: inline-block;
  }

  /* line 686, ../sass/styles.scss */
  nav#main-nav.sticky {
    max-height: 50px;
    min-height: 49px;
  }

  /* line 690, ../sass/styles.scss */
  #main-nav .inside {
    display: block;
  }

  /* line 694, ../sass/styles.scss */
  .event-details.desktop {
    display: none;
  }

  /* line 697, ../sass/styles.scss */
  #main-nav .inside .event-details {
    font-size: 15px;
  }

  /* line 700, ../sass/styles.scss */
  #main-nav .event.desktop.event-details {
    display: none;
  }

  /* line 704, ../sass/styles.scss */
  #main-nav h1 {
    display: inline-block;
    max-width: 40%;
    max-width: 100px;
    vertical-align: middle;
    text-align: right;
    display: inline-block;
    float: none;
  }

  /* line 714, ../sass/styles.scss */
  #main-nav.sticky.opened .stats {
    display: inline-block;
    width: 100%;
    background: #111;
    padding: 20px 0px;
  }

  /* line 720, ../sass/styles.scss */
  #main-nav img {
    width: 100%;
  }

  /* line 724, ../sass/styles.scss */
  .event-details .calendar-icon {
    height: 17px;
    width: 26px;
  }

  /* line 729, ../sass/styles.scss */
  #main-nav.opened {
    min-height: 0px;
    max-height: 0px;
  }

  /* line 733, ../sass/styles.scss */
  #main-nav.sticky.opened {
    min-height: auto;
    max-height: 402px;
    padding-bottom: 0px;
  }

  /* line 739, ../sass/styles.scss */
  #main-nav.sticky.opened i.hamburguer-icon {
    background-image: url("../img/close.svg");
    width: 39px;
    height: 35px;
    background-size: 100%;
  }

  /* line 746, ../sass/styles.scss */
  #main-nav .stats {
    display: block;
    text-align: center;
  }

  /* line 750, ../sass/styles.scss */
  #main-nav .stats ul {
    display: block;
    font-size: 18px;
    padding-right: 0px;
  }

  /* line 756, ../sass/styles.scss */
  #main-nav .stats ul li {
    display: block;
    line-height: 38px;
  }
}
@media screen and (max-width: 768px) {
  /* line 765, ../sass/styles.scss */
  a.btn {
    padding: 0px 10px;
    /* float: left; */
  }

  /*hero*/
  /* line 770, ../sass/styles.scss */
  #header .wrapper {
    padding: 0px 10px;
  }

  /* line 773, ../sass/styles.scss */
  #header .btn {
    margin-bottom: 10px;
  }

  /* line 776, ../sass/styles.scss */
  header h2 {
    font-size: 33px;
    margin-top: 30px;
  }

  /* line 780, ../sass/styles.scss */
  .hero-logo {
    width: 80%;
    margin: 0 auto;
  }

  /* line 785, ../sass/styles.scss */
  .hero-logo img {
    width: 200px;
  }

  /* line 788, ../sass/styles.scss */
  header .hero-logo span {
    max-width: 200px;
    margin: 0 auto;
  }

  /* line 792, ../sass/styles.scss */
  .main {
    /*speakers*/
    /* sponsors*/
    /* venue */
  }
  /* line 793, ../sass/styles.scss */
  .main .cta a {
    margin-left: 0px;
    margin-top: 10px;
  }
  /* line 797, ../sass/styles.scss */
  .main .intro p {
    font-size: 23px;
    line-height: 37px;
  }
  /* line 803, ../sass/styles.scss */
  .main .speakers .inside {
    padding: 70px 10px;
  }
  /* line 806, ../sass/styles.scss */
  .main .speakers h3 {
    position: relative;
    z-index: 2;
  }
  /* line 810, ../sass/styles.scss */
  .main .speakers .speaker:nth-child(even) {
    direction: rtl;
    margin-right: 20px;
  }
  /* line 814, ../sass/styles.scss */
  .main .speakers .speaker:nth-child(odd) {
    margin-left: 20px;
  }
  /* line 817, ../sass/styles.scss */
  .main .speakers .speaker:before {
    height: 190px;
  }
  /* line 820, ../sass/styles.scss */
  .main .speakers .speaker-info {
    max-width: 81%;
  }
  /* line 826, ../sass/styles.scss */
  .main .sponsors .inside {
    padding: 40px 10px 70px;
  }
  /* line 829, ../sass/styles.scss */
  .main .sponsors .sponsors-wrapper {
    justify-content: center;
  }
  /* line 831, ../sass/styles.scss */
  .main .sponsors .sponsors-wrapper img {
    width: 100%;
    max-width: 200px;
  }
  /* line 839, ../sass/styles.scss */
  .main .venue .inside {
    padding: 20px 10px;
  }
  /* line 842, ../sass/styles.scss */
  .main .venue h4, .main .venue p, .main .venue a {
    width: 100%;
  }
  /* line 845, ../sass/styles.scss */
  .main .venue h3 {
    margin-bottom: 0px;
  }
  /* line 848, ../sass/styles.scss */
  .main .venue a {
    margin-bottom: 0px;
  }
  /* line 851, ../sass/styles.scss */
  .main .venue .right {
    width: 100%;
  }

  /*cta*/
  /* line 859, ../sass/styles.scss */
  .cta h4 {
    font-size: 33px;
  }
  /* line 862, ../sass/styles.scss */
  .cta .a {
    margin-left: auto;
    margin-top: 40px;
  }
  /* line 866, ../sass/styles.scss */
  .cta .inside {
    padding: 100px 15px;
  }

  /* line 870, ../sass/styles.scss */
  footer p {
    margin-top: 0px;
  }

  /* line 873, ../sass/styles.scss */
  footer img {
    max-width: 68px;
  }
}
@media screen and (max-width: 1440px) {
  /* line 880, ../sass/styles.scss */
  .second-pill .element {
    left: -7%;
  }

  /* line 885, ../sass/styles.scss */
  .last-pill .element {
    left: -6%;
  }

  /* line 890, ../sass/styles.scss */
  .venue .inside {
    padding: 0px;
  }
}
@media screen and (max-width: 992px) {
  /* line 898, ../sass/styles.scss */
  .second-pill .element {
    left: -14%;
  }

  /* line 904, ../sass/styles.scss */
  .third-pill .element {
    right: -19%;
  }

  /* line 910, ../sass/styles.scss */
  .fourth-pill .element {
    right: -16%;
  }

  /* line 916, ../sass/styles.scss */
  .fifth-pill .element {
    left: -5%;
  }

  /* line 921, ../sass/styles.scss */
  .last-pill .element {
    left: -10%;
    width: 84px;
    height: 322px;
    bottom: -1380px;
  }
}
@media screen and (max-width: 768px) {
  /* line 931, ../sass/styles.scss */
  .wrapper.parallaxed {
    display: none;
  }
  /* line 933, ../sass/styles.scss */
  .wrapper.parallaxed .element {
    display: none;
  }

  /* line 939, ../sass/styles.scss */
  .main .venue .inside {
    padding: 0px 0px;
  }
  /* line 942, ../sass/styles.scss */
  .main .venue .right {
    max-width: 100%;
    width: 100%;
  }
  /* line 946, ../sass/styles.scss */
  .main .venue .left {
    width: 100%;
  }
  /* line 948, ../sass/styles.scss */
  .main .venue .left img {
    display: none;
  }
  /* line 951, ../sass/styles.scss */
  .main .venue .left h4, .main .venue .left p, .main .venue .left a {
    padding-left: 15px;
    width: 95%;
  }
}
